@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3)
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}

.main-header {
    background-color: grey;
    /* background-image: url("Images/Header Background.jpg"); */
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.shop-name {
    text-align: center;
    margin: 0;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    color: white;
}

.shop-name-large {
    font-size: 4em;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header {
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.about-shop-image {
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 50%;
}

.main-footer {
    background-color:grey;
    color: white;
    padding: .25em 0;
    bottom: 0;
    position:fixed;
    width: 100%;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 30px;
    height: 30px;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #020d13;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1.5em;
    font-weight: lighter;
    padding-left: 2em;
    padding-right: 2em;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

/* .btn-play {
    display: block;
    margin: 0 auto;
    color: black;
    font-size: 4em;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 0;
    text-align: center;
} */

.btn-primary {
    color: white;
    background-color: #020b0e;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #010406;
}

.tour-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.tour-row:last-child {
    border: none;
}

.tour-item {
    display: inline-block;
    padding-right: .5em;
}

.tour-date {
    color: #555;
    width: 11%;
    font-weight: bold;
}

.tour-city {
    width: 24%;
}

.tour-arena {
    width: 42%;
}

.tour-btn {
    max-width: 19%;
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#cart{
    position: fixed;
    height: 90%;
}
.cart-row{
    font-size:18px;
    display:flex;
}
.cart-header{
    font-size:1.2rem;
    font-weight: bold;
}
.cart-item{
    width:45%;
}
.cart-img{
    width:80px;
    border-radius:8%;
    margin-right:20px;
}
.cart-price{
    width:20%;
}
.cart-quantity{
    width:35%;
}
.cart-column{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}
.cart-quantity input{
    width:40px;
    height:30px;
    border:1px solid rgb(0, 204, 255) ;
    border-radius:8%;
    outline:none;
    text-align:center;
    margin-right:20px;
}
.cart-quantity button{
    color:white;
    font-weight: bold;
    background: rgb(231, 76, 76);
    cursor: pointer;
    border:none;
    border-radius:8%;
    height:30px;
    outline:none;
    padding: 0px 7px;
}
.cart-quantity button:hover{
    background: rgb(218, 37, 37);;
}
.cart-total{
    display:flex;
    flex-direction: row-reverse;
    font-size:1.2rem;
    margin:20px;
}
.cart-total .total-title{
    margin-right:10px;
    font-size:1.5rem;
}

.purchase-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    margin-top: 50px;
    background: #0d0e0e;
    color:white;
    font-size:1.2rem;
    font-weight: bold;
    border:none;
    border-radius:8%;
    padding:12px;
    cursor: pointer;
}
.purchase-btn:hover{
    background-color:black;
}
.fa-shopping-cart{
    color:white;
}
.cart-holder{
    border:2px solid black;
    font-size: medium;
    border-radius: 5px;;
    padding:1px 5px;
    position: absolute; 
    right: 2%;
    height: 35px;
}
.cart-number{
    position:absolute;
    color:black;
    font-size: 20px;
    top:-10px;
    right:-15px;
}

@media(max-width:600px){
    header li{
        margin:0px 20px;
    }
}
#cart{
    margin:0px;
    display: none;
    position:fixed;
    top:50px;
    height: 90%;
    right:0;
    background-color:rgb(255, 255, 255);
    border:1px solid rgb(177, 103, 103);
    min-height:50vh;
}
#cart h2{
    margin:20px 0px;
    padding:0;
}

.cart-btn-bottom{
    display:flex;
    padding:15px;
    background-color: #777;
    border:none;
    border-radius:7px;
    margin:auto;
    cursor:pointer;
}
.cart-bottom{
    text-decoration: none;
    color:#0b0c0c;
    font-size: 16px;
    font-weight:700;
}
.cancel{
    position:absolute;
    cursor:pointer;
    color:rgb(121, 117, 117);
    top:0;
    right:0;
    margin:20px;
    background:none;
    font-size:16px;
    font-weight: 700;
    border:1px solid rgb(121, 117, 117);
    border-radius:7px;
    padding:5px;
}
#container{
    position: fixed;
    top: 25px;
    right: 10px;
}
.notification{
    background-color: black;
    border-radius: 5px;
    color: white;
    padding: 0.5rem;
    margin: 1rem;
}

.cart-section-container{
    background-color: white;
    text-align: center;
    align-items: center;
    align-content: center; 
      
}

/* Cart Products */
#cartProductsDiv{
    display: flex;
    list-style: none;
    flex-direction: column;
    /* align-items: center; */
    
    background-color: rgb(195, 194, 194);
}

.cartSectionContainer{
    padding-left: 300px;
    padding-right: 300px;
    margin-top: 50px;
}

#cart-container table{
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
#cart-container table thead{
    font-weight: 700;
    

}
#cart-container table thead td{
    background: grey;
    color: white;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    padding: 6px 0;
}
/* Products  */
#Products{
    display: flex;
    flex-direction: row;
    color: black;
    row-gap: 5%;
}
#Products .btn{
    
    color: black;
}
productsAddToCartBtn{
    color: black;
}

/* Events */

#eventsdiv{
    padding-bottom: 100px;
    margin: 10px;
}

/* Products */